{% extends 'users/nurse/panels/patientMedical/index.html' %}

{% block title %}Add Patient Medical Info | Lumban RHU{% endblock %}

{% block mainPanel %}
<div class="container">
  <div class="page-inner">
    <div class="page-header">
      <h3 class="fw-bold mb-3">{{legend}}</h3>
      <ul class="breadcrumbs mb-3">
        <li class="nav-home">
          <a href="{{ url_for('nurse.nurseDashboard')}}">
            <i class="icon-home"></i>
          </a>
        </li>
        <li class="separator">
          <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('nurse.medicalManage')}}">Patients' medical info</a>
        </li>
        <li class="separator">
          <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
          {{legend}}
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form 
          action="{{ url_for('nurse.nurseAddMedicalInfo')}}" 
          method="POST"
        >
          <div class="card">
            <div class="card-header">
              <div class="d-flex align-items-center">
                <div class="card-title">Add patient medical info</div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 col-lg-4">
                  <div class="mb-3">
                    <label for="medicalInfoAddName" class="form-label">Patient name</label>
                    <select class="form-select form-select-lg" name="medicalInfoAddName" id="medicalInfoAddName" required aria-label="Default select example">
                      <option value="" selected>Choose patient</option>
                      {% for row in rows %}
                      <option value="{{row.0}}">{{row.3}}, {{row.2}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="medicalInfoAddFindings" class="form-label">Findings</label>
                    <input type="text" name="medicalInfoAddFindings" class="form-control" id="medicalInfoAddFindings" placeholder="Findings">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="mb-3">
                    <label for="medicalInfoAddDate" class="form-label">Date of check up</label>
                    <input type="datetime-local" name="medicalInfoAddDate" class="form-control" id="medicalInfoAddDate" placeholder="Date">
                  </div>
                  <div class="mb-3">
                    <label for="medicalInfoAddDiagnosis" class="form-label">Diagnosis</label>
                    <input type="text" name="medicalInfoAddDiagnosis" class="form-control" id="medicalInfoAddDiagnosis" placeholder="Diagnosis">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                </div>
                <div class="row">
                  <div class="col-md-6 col-lg-4">
                    <div class="mb-3">
                      <label for="medicalInfoAddTreatment" class="form-label">Treatment</label>
                      <textarea class="form-control" name="medicalInfoAddTreatment" id="medicalInfoAddTreatment" rows="3"></textarea>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <div class="mb-3">
                      <label for="medicalInfomedicalInfoAddAdviceAddTreatment" class="form-label">Advice</label>
                      <textarea class="form-control" name="medicalInfoAddAdvice" id="medicalInfoAddAdvice" rows="3"></textarea>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <div class="mb-3">
                      <label for="medicalInfoAddEvaluation" class="form-label">Evaluation</label>
                      <textarea class="form-control" name="medicalInfoAddEvaluation" id="medicalInfoAddEvaluation" rows="3"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-action">
              <button 
              class="btn btn-success btn-round"
              type="submit"
              name="submitButton"
              value="addProduct"
              >
              Add info
              </button>
              <button 
              type="reset"
              class="btn btn-danger btn-round"
              value="deleteFields"
              >
              Reset fields
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}