{% extends 'users/nurse/panels/patientMedical/index.html' %}

{% block title %}Edit Patient Medical Info | Lumban RHU{% endblock %}

{% block mainPanel %}
<div class="container">
  <div class="page-inner">
    <div class="page-header">
      <h3 class="fw-bold mb-3">{{legend}}</h3>
      <ul class="breadcrumbs mb-3">
        <li class="nav-home">
          <a href="{{ url_for('nurse.dashboard')}}">
            <i class="icon-home"></i>
          </a>
        </li>
        <li class="separator">
          <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('nurse.medicalManage')}}">Patients' medical info</a>
        </li>
        <li class="separator">
          <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
          {{legend}}
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form 
          action="#" 
          method="POST"
        >
          <div class="card">
            <div class="card-header">
              <div class="d-flex align-items-center">
                <div class="card-title">Edit patients medical info</div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 col-lg-4">
                  <div class="mb-3">
                    <label for="medicalInfoAddName" class="form-label">Patient name</label>
                    <input type="text" name="medicalInfoAddName" class="form-control" id="medicalInfoAddName" placeholder="Patient name">
                  </div>
                  <div class="mb-3">
                    <label for="medicalInfoAddFindings" class="form-label">Findings</label>
                    <input type="text" name="medicalInfoAddFindings" class="form-control" id="medicalInfoAddFindings" placeholder="Findings">
                  </div>
                  <div class="mb-3">
                    <label for="medicalInfoAddDiagnosis" class="form-label">Diagnosis</label>
                    <input type="text" name="medicalInfoAddDiagnosis" class="form-control" id="medicalInfoAddDiagnosis" placeholder="Diagnosis">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="mb-3">
                    <label for="medicalInfoAddAdvice" class="form-label">Advice</label>
                    <input type="text" name="medicalInfoAddAdvice" class="form-control" id="medicalInfoAddAdvice" placeholder="Advice">
                  </div>
                  <div class="mb-3">
                    <label for="medicalInfoAddTreatment" class="form-label">Treatment</label>
                    <input type="text" name="medicalInfoAddTreatment" class="form-control" id="medicalInfoAddTreatment" placeholder="Treatment">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="mb-3">
                    <label for="medicalInfoAddEvaluation" class="form-label">Evaluation</label>
                    <input type="text" name="medicalInfoAddEvaluation" class="form-control" id="medicalInfoAddEvaluation" placeholder="Evaluation">
                  </div>
                  <div class="mb-3">
                    <label for="medicalInfoAddDate" class="form-label">Date of check up</label>
                    <input type="date" name="medicalInfoAddDate" class="form-control" id="medicalInfoAddDate" placeholder="Date">
                  </div>
                </div>
              </div>
            </div>
            <div class="card-action">
              <button 
              class="btn btn-success btn-round"
              type="submit"
              name="submitButton"
              >
              Edit information
              </button>
              <button 
              type="reset"
              class="btn btn-danger btn-round"
              value="deleteFields"
              >
              Reset fields
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}