{% extends 'users/nurse/panels/patientMedical/index.html' %}

{% block title %}Edit Patient Medical Info | Lumban RHU{% endblock %}

{% block mainPanel %}
<div class="container">
  <div class="page-inner">
    <div class="page-header">
      <h3 class="fw-bold mb-3">{{legend}}</h3>
      <ul class="breadcrumbs mb-3">
        <li class="nav-home">
          <a href="{{ url_for('nurse.nurseDashboard')}}">
            <i class="icon-home"></i>
          </a>
        </li>
        <li class="separator">
          <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('nurse.medicalManage')}}">Patients' medical info</a>
        </li>
        <li class="separator">
          <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
          {{legend}}
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form 
          action="#" 
          method="POST"
        >
          <div class="card">
            <div class="card-header">
              <div class="d-flex align-items-center">
                <div class="card-title">Edit patients medical info</div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 col-lg-4">
                  <div class="mb-3">
                    <label for="medicalInfoEditName" class="form-label">Patient name</label>
                    <input type="text" name="medicalInfoEditName" class="form-control" id="medicalInfoEditName" placeholder="Patient name">
                  </div>
                  <div class="mb-3">
                    <label for="medicalInfoEditDate" class="form-label">Date of check up</label>
                    <input type="date" name="medicalInfoEditDate" class="form-control" id="medicalInfoEditDate" placeholder="Date">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="mb-3">
                    <label for="medicalInfoEditFindings" class="form-label">Findings</label>
                    <input type="text" name="medicalInfoEditFindings" class="form-control" id="medicalInfoEditFindings" placeholder="Findings">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="mb-3">
                    <label for="medicalInfoEditDiagnosis" class="form-label">Diagnosis</label>
                    <input type="text" name="medicalInfoEditDiagnosis" class="form-control" id="medicalInfoEditDiagnosis" placeholder="Diagnosis">
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-6 col-lg-4">
                  <div class="mb-3">
                    <label for="medicalInfoEditTreatment" class="form-label">Treatment</label>
                    <textarea class="form-control" name="medicalInfoEditTreatment" id="medicalInfoEditTreatment" rows="3"></textarea>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="mb-3">
                    <label for="medicalInfoEditAdvice" class="form-label">Advice</label>
                    <textarea class="form-control" name="medicalInfoEditAdvice" id="medicalInfoEditAdvice" rows="3"></textarea>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="mb-3">
                    <label for="medicalInfoEditEvaluation" class="form-label">Evaluation</label>
                    <textarea class="form-control" name="medicalInfoEditEvaluation" id="medicalInfoEditEvaluation" rows="3"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-action">
              <button 
              class="btn btn-success btn-round"
              type="submit"
              name="submitButton"
              >
              Edit information
              </button>
              <button 
              type="reset"
              class="btn btn-danger btn-round"
              value="deleteFields"
              >
              Reset fields
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}