{% extends 'users/beforeLogin/base.html' %}

{% block title %}Forgot password{% endblock %}

{% block mainPanel %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="container">
            <nav style="--bs-breadcrumb-divider: '//';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('authentication.welcome')}}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{legend}}</li>
                </ol>
            </nav>
        </div>
        
        <div class="container mt-5">
            <h1 class="mb-4">{{legend}}</h1>
            
            <form action="{{ url_for('authentication.forgotPassword')}}" method="POST">
                <div class="mb-4">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" name="forgotPasswordEmail" class="form-control" id="exampleFormControlInput1" placeholder="Email">
                  </div>
                  
                <div class="mb-4 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary w-100">Send request</button>
                </div>
            </form>

            <p><a href="{{ url_for('authentication.login')}}">Back to login</a></p>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}