{% extends 'users/nurse/base.html' %}

{% block title %}Dashboard | RHU{% endblock %}

{% block sidebar %}
<ul class="nav nav-secondary">
  <li class="nav-item active">
    <a data-bs-toggle="collapse" href="">
      <i class="fas fa-th-list"></i>
      <p>Dashboard</p>
    </a>
  </li>
  <li class="nav-item">
    <a href="{{ url_for('nurse.medicalManage')}}">
      <i class="fas fa-layer-group"></i>
      <p>Patient Medical Info</p>
      <span class="caret" hidden=""></span>
    </a>
  </li>
  <li class="nav-item">
    <a href="{{ url_for('nurse.patientsListManage')}}">
      <i class="fas fa-pen-square"></i>
      <p>Patients List</p>
    </a>
  </li>
  <li class="nav-section">
    <span class="sidebar-mini-icon">
      <i class="fa fa-ellipsis-h"></i>
    </span>
    <h4 class="text-section">Maintenance</h4>
  </li>
  <li class="nav-item">
    <a href="{{ url_for('nurse.maintenanceIllnesses')}}">
      <i class="fas fa-chevron-left"></i>
      <p>Illnesses</p>
    </a>
  </li>
  <li class="nav-item">
    <a href="{{ url_for('nurse.maintenanceFindings') }}">
      <i class="fas fa-chevron-left"></i>
      <p>Findings</p>
    </a>
  </li>
  <li class="nav-item">
    <a href="{{ url_for('nurse.maintenanceDiagnoses') }}">
      <i class="fas fa-chevron-left"></i>
      <p>Diagnoses</p>
    </a>
  </li>
</ul>
{% endblock %}

{% block mainPanel %}
<div class="container">
  <div class="page-inner">
    <div
      class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4"
    >
      <div>
        <h3 class="fw-bold mb-3">{{legend}}</h3>
        <h6 class="op-7 mb-2">Nurse Dashboard</h6>
      </div>
      <div class="d-flex align-items-center justify-content-between ms-md-auto py-2 py-md-0">
        <a href="{{ url_for('nurse.medicalManage')}}" class="btn btn-primary btn-round me-2" style="width: 200px;">Manage Patient Medical Information</a>
        <a href="{{ url_for('nurse.patientsListManage')}}" class="btn btn-secondary btn-round me-2" style="width: 200px;">Manage Patient Personal Information</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-round">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-icon">
                <div
                  class="icon-big text-center icon-primary bubble-shadow-small"
                >
                  <i class="fas fa-users"></i>
                </div>
              </div>
              <div class="col col-stats ms-3 ms-sm-0">
                <div class="numbers">
                  <p class="card-category">Visitors</p>
                  <h4 class="card-title">1,294</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-round">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-icon">
                <div
                  class="icon-big text-center icon-info bubble-shadow-small"
                >
                  <i class="fas fa-user-check"></i>
                </div>
              </div>
              <div class="col col-stats ms-3 ms-sm-0">
                <div class="numbers">
                  <p class="card-category">Subscribers</p>
                  <h4 class="card-title">1303</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-round">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-icon">
                <div
                  class="icon-big text-center icon-success bubble-shadow-small"
                >
                  <i class="fas fa-luggage-cart"></i>
                </div>
              </div>
              <div class="col col-stats ms-3 ms-sm-0">
                <div class="numbers">
                  <p class="card-category">Sales</p>
                  <h4 class="card-title">$ 1,345</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-round">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-icon">
                <div
                  class="icon-big text-center icon-secondary bubble-shadow-small"
                >
                  <i class="far fa-check-circle"></i>
                </div>
              </div>
              <div class="col col-stats ms-3 ms-sm-0">
                <div class="numbers">
                  <p class="card-category">Order</p>
                  <h4 class="card-title">576</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card card-round">
          <div class="card-header">
            <div class="card-head-row">
              <div class="card-title">User Statistics</div>
              <div class="card-tools">
                <a
                  href="#"
                  class="btn btn-label-success btn-round btn-sm me-2"
                >
                  <span class="btn-label">
                    <i class="fa fa-pencil"></i>
                  </span>
                  Export
                </a>
                <a href="#" class="btn btn-label-info btn-round btn-sm">
                  <span class="btn-label">
                    <i class="fa fa-print"></i>
                  </span>
                  Print
                </a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-container" style="min-height: 375px">
              <canvas id="statisticsChart"></canvas>
            </div>
            <div id="myChartLegend"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}